@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --dorong-primary-dark: #662ab8;
  --dorong-primary: #9e36cf;
  --dorong-primary-light: #cf9ae9;

  --dorong-black: #262627;
  --dorong-white: #fdfdff;
  --dorong-gray-0: #dedee4;
  --dorong-gray-1: #fafafa;
  --dorong-gray-2: #f7f7f9;
  --dorong-gray-3: #eeeef1;
  --dorong-gray-4: #dadadf;
  --dorong-gray-5: BDBDBF;
  --dorong-gray-6: #99999f;
  --dorong-gray-7: #66666f;
  --dorong-gray-8: #46464b;

  --dorong-error: #f30b0b;
  --dorong-positive: #009b07;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
